{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "generator-star-spacing": 0,
    "no-duplicate-imports": 0,
  },
  "globals": {
    "Config": false,
    "PhaseConfig": false,
    "WatchDefinition": false,
  }
}
